In [16]:
import numpy as np
import csv
import pandas as pd
#csv는 엑셀과 달리 , 를 통해 데이터를 구분
##################################################
file_number= 151 #파일의 갯수
NUMBER_OF_WAVE = 40 #파장의 갯수
##############################################
imp_wave = [] #예상 [[40개],[40개],[40개]]
###############################################
for file in range (0,file_number):
    row_data = []
    wave_num = []
    time = []
    with open('CH#A_RECIPE01_'+str(file+1)+'.csv', mode= 'r', newline = '') as Data_set:    
        swic = 0
        count = 1
        EPDTime_str = ''
        reader = csv.reader(Data_set)
    
        for row in reader:
            if swic == 0 :    
                EPDTime_str = row[0]
                temp_EPDTime=float(EPDTime_str[11:]) #37.6492
                EPDTime = int(temp_EPDTime*10)
                swic += 1 
                continue
            elif swic == 1: #ScanTime 189.93, 189.94 ....
                wave_num = row[1:]
                wave_num =list(map(float, wave_num))
                swic +=1
                continue
            else:
                #print(row[0]) #0행의 숫자들 
                time.append(int(count))
                count +=1
                row_data.append(list(map(float, row[1:])))
                
    Row_df = pd.DataFrame(data = row_data, columns = wave_num)
    Row_df.index = np.arange(1,len(Row_df)+1)

        
    col_data = []
    for _ in range(0, len(row_data[0])):
        col_data.append([])
        
    for num in range (0, len(row_data[0])): #2000 -> wave
        for i in range(0 ,len(row_data)): # 600 -> time
            col_data[num].append(row_data[i][num]) 
            
    Data_set = list(zip(wave_num,col_data))
    df = pd.DataFrame(data = Data_set, columns=["wave","intensity"])
    df.index = np.arange(1,len(df)+1)
    
   
    label = []
    for num in range (0,len(df['intensity'][1])):
        if(num < EPDTime):
            label.append(0)
        else:
            label.append(1)
    Row_df.insert(len(wave_num),"label",label,True)
    corr = (Row_df.corr(method = 'pearson'))
    corr_lable =corr['label']
    
    
    lst_abs =list(corr_lable.values)
    lst_abs = list(map(abs,lst_abs))
    wave_corr_dataset = lst_abs
    wave_corr_df = pd.DataFrame(data = wave_corr_dataset, columns=["peason"])
    wave_corr_df =wave_corr_df.drop(2048)#label 행 제거
    wave_corr_df.index = wave_num
    my_lst =list(wave_corr_df.peason.nlargest(NUMBER_OF_WAVE,keep = 'all').index) #동순위 취급
    #데이터프레임.nlargest(n, columns, keep='first')
    imp_wave.append(my_lst)

In [17]:
###########확인##############
my_np =np.array(imp_wave)
my_np

array([[307.98, 308.73, 308.36, ..., 384.99, 384.63, 826.73],
       [308.36, 308.73, 307.98, ..., 385.73, 388.29, 827.95],
       [307.98, 308.36, 308.73, ..., 827.65, 827.95, 316.2 ],
       ...,
       [308.36, 307.98, 308.73, ..., 385.73, 386.09, 388.29],
       [308.73, 307.98, 308.36, ..., 312.47, 315.46, 312.84],
       [308.73, 308.36, 307.61, ..., 386.82, 826.73, 827.03]])

In [18]:
count = []
for i in range(0,len(imp_wave)):
    for m in range (0,len(imp_wave[i])):
        count.append(imp_wave[i][m])

In [19]:
df_4=pd.DataFrame(count)

In [20]:
df_5=df_4[0].value_counts()

In [21]:
df_6=pd.DataFrame(df_5)

In [22]:
df_6

          0
307.98  151
310.97  151
777.69  151
305.36  151
777.38  151
308.73  151
313.96  151
311.72  151
314.71  151
314.34  151
311.35  151
305.74  151
777.06  151
310.60  151
306.11  151
309.10  151
307.61  151
309.48  151
309.85  151
307.23  151
306.86  151
310.23  151
306.48  151
308.36  151
313.59  150
387.92  150
387.56  149
386.82  148
387.19  147
386.46  147
388.29  146
386.09  144
778.01  144
385.73  141
313.22  126
315.08  120
312.09  118
385.36  118
384.99   93
388.65   89
826.73   53
384.63   52
312.47   35
312.84   34
827.03   28
315.46   22
384.26   16
776.75   14
827.34   10
304.99    4
827.65    4
827.95    4
315.83    3
383.89    3
316.20    2
828.26    1
828.56    1

In [23]:
df_6.to_csv("value_count.csv")

In [6]:
count.sort(reverse=1)

In [7]:
print(count)

[827.95, 827.95, 827.65, 827.34, 827.34, 827.03, 827.03, 826.73, 826.73, 826.73, 778.01, 778.01, 778.01, 777.69, 777.69, 777.69, 777.69, 777.69, 777.38, 777.38, 777.38, 777.38, 777.38, 777.06, 777.06, 777.06, 777.06, 777.06, 776.75, 388.65, 388.65, 388.29, 388.29, 388.29, 388.29, 387.92, 387.92, 387.92, 387.92, 387.56, 387.56, 387.56, 387.56, 387.19, 387.19, 387.19, 387.19, 386.82, 386.82, 386.82, 386.82, 386.46, 386.46, 386.46, 386.46, 386.09, 386.09, 386.09, 385.73, 385.73, 385.73, 385.73, 385.36, 385.36, 385.36, 384.99, 384.99, 384.99, 384.63, 384.63, 384.26, 383.89, 316.2, 315.83, 315.46, 315.46, 315.08, 315.08, 315.08, 314.71, 314.71, 314.71, 314.71, 314.71, 314.34, 314.34, 314.34, 314.34, 314.34, 313.96, 313.96, 313.96, 313.96, 313.96, 313.59, 313.59, 313.59, 313.59, 313.59, 313.22, 313.22, 313.22, 313.22, 312.84, 312.47, 312.09, 312.09, 312.09, 312.09, 311.72, 311.72, 311.72, 311.72, 311.72, 311.35, 311.35, 311.35, 311.35, 311.35, 310.97, 310.97, 310.97, 310.97, 310.97, 310.6, 310.6, 310.6, 310.6, 310.6, 310.23, 310.23, 310.23, 310.23, 310.23, 309.85, 309.85, 309.85, 309.85, 309.85, 309.48, 309.48, 309.48, 309.48, 309.48, 309.1, 309.1, 309.1, 309.1, 309.1, 308.73, 308.73, 308.73, 308.73, 308.73, 308.36, 308.36, 308.36, 308.36, 308.36, 307.98, 307.98, 307.98, 307.98, 307.98, 307.61, 307.61, 307.61, 307.61, 307.61, 307.23, 307.23, 307.23, 307.23, 307.23, 306.86, 306.86, 306.86, 306.86, 306.86, 306.48, 306.48, 306.48, 306.48, 306.48, 306.11, 306.11, 306.11, 306.11, 306.11, 305.74, 305.74, 305.74, 305.74, 305.74, 305.36, 305.36, 305.36, 305.36, 305.36, 304.99]